.header-left{
  float:left;
}
.header-right{
  float:right
}
header{
  height: 65px

}
.main{
  height:600px
  background-image:url(https://user-images.githubusercontent.com/62373654/80061252-bd2c1880-856b-11ea-9733-70533e79143d.jpg);
}
.container{
  width:100%;
}
.heading h2{
  background-color: blue;
  color:white;
  margin:0 auto;

}
