.header-left{
  float:left;
}
.header-right{
  float:right
}
header{
  height: 65px

}
.main{
  height:580px
  background-image:url(https://github.com/ponkichidayo/yuusisiensuru/blob/master/IMG_0824.JPG)
}
.container{
  width:100%;
}
.heading h2{
  background-color: blue;
  color:white;
  margin:0 auto;

}
